@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --background-rgb: 47 79 79;
}

body {
    background-color: #2f4f4f;
}
