:root {
    --text-color: #040406;
}


/* → Header (Navigation) */
.OS-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    /**/
    height: 20px;
    width: 100%;
    /**/
    border-radius: 11px 11px 0 0;
    background-color: aliceblue;
}

.OS-header p,
a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin: 0;
}

.OS-logo {
    height: 11px;
    width: 11px;
    margin-left: 10px;
    margin-right: 10px;
    /**/
    border-radius: 50%;
    background-color: var(--text-color);
    /**/
    cursor: help;
}

.OS-nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    /**/
    padding: 0;
    /**/
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}

.OS-nav-list li {
    display: flex;
}



/* → Desktop */
.OS-main {
    display: none;
}